.setting {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dadce0;
    display: flex;
    user-select: none;
    .item {
        border-right: 1px solid #cccccc;
        min-width: 65px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        &.col {
            width: 175px;
        }
        img {
            cursor: pointer;
            width: 21px;
            height: 21px;
            display: inline-block;
            margin-top: 4px;
            padding: 6px;
            &:hover {
                background: #e5e5e5;
            }
        }
        .cols {
            display: inline-block;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
            
            .col-item {
                cursor: pointer;
                width: 20px;
                height: 20px;
                background:red;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}