@import  './sheet';

.current {
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0px;
    font-size: 12px;
    user-select: none;
    background: #fff;
    .item {
        position: relative;
        width: 120px;
        display: inline-block;
   
        :focus{
            outline:none;
        }
    
    }

    input {
        width: 870px;
        border: 1px solid #cccccc;
        height: 24px;
        line-height: 22px;
        padding: 0 10px;
        position: absolute;
        top: -16px;
    }
    .current_coordinate {
        border:$border-def;
        padding: 0px 10px;
        width: 80px;
        text-align: left;
        height: 22px;
        line-height: 22px;
        margin: 4px 10px;
        display: inline-block;
    }

}